.favoritos .listar ul{
    display: flex;
    justify-content: space-between;
    align-items: top;
    list-style: none;
}

.favoritos .listar ul li{
    width: 100%;
}

.favoritos .listar ul li img{
    width: 80%;
}