.title-container{
    width: 100%;
    background-color: #e3f2fd;
}

.title-container h1{
    font-size: 34px;
    font-weight: bold;
    color: #737370;
    font-family: fantasy;
    font-style: italic;

}

.title-container h1 strong{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}

.login-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.form-container{
    width: 340px;
    background-color: #e3f2fd;
    border-radius: 8px;
    padding: 14px;
}

.form-container form input,
.form-container form a{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-container form+a{
    margin-top: 10px;
    color: brown;
    display: block;
}

.form-container img{
    width: 50%;
}